{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바이어</title>
</head>
<body>
    <div class="container">
        <form class="box" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>buyer</h1>
                {% for field in form.visible_fields %}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% endfor %}
            <input type="submit" name="" value="Create">
        </form>
    </div>
</body>
</html>