<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입메인</title>
</head>
<body>
    <div>
        <a class="profile-links" href="{% url 'users:user_sing_up' %}">Customer</a></li>
        <a class="profile-links" href="{% url 'users:seller_sing_up' %}">Seller</a></li>
        <a class="profile-links" href="{% url 'users:buyer_sing_up' %}">Buyer</a></li>
        <!-- <button onclick="location.href='c_register'">일반회원</button>
        <button onclick="location.href='s_register'">셀러</button>
        <button onclick="location.href='b_register'">바이어</button> -->
    </div>
    

</body>
</html>