{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="col">
                <img src="{{product.image.url}}" width="100%">
            </div>
        </div>
        <div class="col">
            <h1 class="display-6">{{product.name}}</h1>
            <p><span class="badge badge-secondary">Price</span>{{product.price}}</p>

            <form action="{% url 'cart:product_add' product.id %}" method="post">
                {{add_to_cart}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
            </form>

            <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5>
        </div>
    </div>
{% endblock %}